# Ignore data (downloaded datasets)
data/
notebooks/*/raw/
notebooks/*/samples/
notebooks/*/scheduler/
notebooks/*/unet/
notebooks/generated_gif_output/intervention_diffusion.gif
#igonore ipynb files 
*.ipynb

*.yml  

# Ignore experiments outputs
experiments/*/logs/

# Ignore saved models
outputs/
*.safetensors
*.pt
*.bin
*.ckpt

# Ignore logs
*.log
*.out
*.tfevents.*

# Ignore temporary files and cache
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Ignore wandb

experiments/wandb/ 

# ignnore any png file 

*.png

# Optional: Ignore environment files if you rebuild them elsewhere
*.env
notebooks/generated_gif_output/*.gif
